<p>Hello,</p>

<p>
  Someone requested to reset your password.
  <%= link_to 'Click here to reset it.', "#{ActionMailer::Base.default_url_options[:host]}/passwords/new/#{@user.reset_password_token}" %>
</p>

<p>
  If you did not initiated this request, you can safely ignore this email.
</p>
