<h1 class="page-header md-whiteframe-z1">
  Plans
  <small>
    All your active plans.
  </small>
</h1>

<md-card class="details md-whiteframe-z2">
  <md-card-title>
    <h3>Plans</h3>
  </md-card-title>

  <table class="table">
    <thead>
      <tr>
        <th>Provider</th>
        <th>Guid</th>
        <th>Interval</th>
        <th>Amount</th>
        <th>Subscribers</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="plan in plans">
        <td>{{ plan.provider }}</td>
        <td>{{ plan.guid }}</td>
        <td>Every {{ plan.interval_count }} {{ plan.interval }}</td>
        <td>{{ plan.amount / 100.0 }} {{ plan.currency }}</td>
        <td>{{ plan.subscribers_count }}</td>
      </tr>
    </tbody>
  </table>
</md-card>
